<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="zxb.zweibo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 用于调用 JNI -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        tools:replace="android:theme"
        android:name=".GlobalApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/NoActionBar" >

        <!-- 测试主页-->
        <activity android:name=".ui.test.TestMainActivity"
                  android:label="@string/app_name">>

        </activity>

        <!-- 启动画面 -->
        <activity
            android:name=".ui.AuthActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--图片浏览-->
        <activity android:name=".ui.ImageBrowserActivity" />
        <activity android:name=".ui.GifBrowserActivity" />
        <!-- FriendsTimeLine -->
        <!--<activity android:name=".ui.MainActivity"/>-->
        <!-- 用户授权测试页-->
        <activity android:name=".ui.test.TestAuthActivity" />
        <!-- 个人微博详细 -->
        <activity android:name=".ui.PersonalDetailActivity" />
        <!--<activity android:name=".ui.MainActivityNew" />-->
        <activity android:name=".ui.MainActivityF" />
        <activity android:name=".ui.CommentActivity" />

        <!-- 测试接口：statuses/friends_timeline, 获取当前登录用户及其所关注用户的最新微博 -->
        <activity android:name=".ui.test.TestFTimeLinesActivity" />
        <!--缓存测试-->
        <activity android:name=".ui.test.TestBitmapActivity" />
        <!--Volley缓存测试-->
        <activity android:name=".ui.test.TestVolleyCache" />
        <activity android:name=".ui.test.TestDBActivity" />
        <activity android:name=".ui.test.TestSpannableString" />
        <activity android:name=".ui.test.TestEmotionActivity" />

        <service android:name=".service.CheckUpdateService"/>
        <receiver android:name=".receiver.CheckUpdateReceiver"/>

        <!-- 网页授权Activity -->
        <!--必须注册在微博授权，分享微博时候用到 -->
        <activity android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
                  android:configChanges="keyboardHidden|orientation"
                  android:windowSoftInputMode="adjustResize"
                  android:exported="false" >
        </activity>
    </application>

    // Fabric
    <!--<meta-data
        android:name="io.fabric.ApiKey"
        android:value="943ff35c71ed0d2e1fc3ee5b7dc68eabe080e656" />-->
    // Fabric
    <!--<uses-permission android:name="android.permission.INTERNET" />-->
</manifest>
